/* our most popular drinks */

.horizontal-line {
  height: 275vh;
  margin: 80px;
}
.ourdrinks {
  margin: 100px 0 -70px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.right {
  width: 53%;
  float: right;
  display: flex;
  align-items: center;
}

.img-right {
  margin: 0 250px;
}

.text {
  font-weight: 700;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
}
.text-1 {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.left {
  width: 53%;
  float: left;
  display: flex;
  align-items: center;
  margin-top: -200px;
}

.text-left-left {
  margin-left: -850px;
}
.top {
  margin-top: -350px;
}

.text4 {
  font-weight: 600;

  line-height: 24px;
}

.BButton {
  position: relative;
  top: 1750px;
  left: 500px;
  height: 64px;
  width: 290px;
  color: white;
  border-radius: 8px;
  background: linear-gradient(87.56deg, #530976 -6.97%, #74199e 100%);
  border: 2px solid #0d0d0d;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 60px;
}
