/* our most popular drinks */


.horizontal-line{
    height: 260vh;

  }
  .ourdrinks{
    margin: 100px 0 -70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
  .right{
    width: 53%;
    float: right;
    display: flex;
    align-items: center;
  
  }

  .img-right{
    margin:0 250px;
  }

  .text {
    font-weight: 700;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
  }
  .text-1 {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  }

  .left{
    width: 53%;
    float:left;
    display: flex;
    align-items: center;
    margin-top:-200px
  }
  
  .text-left-left {
    margin-left:-850px;
    
  }
  .top{
    margin-top: -350px;
  }

  
  .text4{
    font-weight: 600;
    
    
   
    line-height: 24px;
    }
  .horizontal-line{
    margin: 80px;
  }

