.hero{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
  }

  /* .hero img:hover{
    background-color: gainsboro;
  } */
  
 
  .hero img {
    margin-top: -250px;
  }
  
  