.hero {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

/* .hero img:hover{
    background-color: gainsboro;
  } */

.hero img {
  margin-top: -250px;
}
