nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 4rem 0 3rem;
  background-color: #ffff;
  font-weight: 600;
  z-index: 1;
  width: 100%;
}

.upbtn {
  background-color: #530976;
  border: 1px solid black;
}

.upbtn a {
  background-color: #530976;
  border: 1px solid black;
}
.btn {
  background-color: #530976;
  padding-left: 10px;
}

.contact-left {
  padding: 10px 20px;
  background-color: #530976;
  border-radius: 7px;
  color: #f6f6f6;
  font-weight: 700;
}

.contact-top {
  font-size: 20px;
  padding: 10px;
  border: 2px solid black;
  color: #121212;
  text-align: center;
  margin-right: 300px;
}

.contact-top:hover {
  background-color: gainsboro;
}

ul {
  display: flex;
  width: 30%;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
}
.btn1 {
  background-color: #530976;
}
nav a {
  margin: 0;
  padding: 0px;
  color: black;
}

nav a:hover {
  /* padding: 10px; */
  color: #afa5b4;
}

.contactUs {
  border: 3px solid black;
  padding: 10px;
  position: relative;
  right: 160px;
  font-family: "YoungSerif";
}
