nav{
    display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 4rem 0 3rem;
	background-color: #ffff;
    font-weight: 600;
	
}


.contact-left{
  padding: 10px 20px;
  background-color: #530976;
  border-radius: 7px;
  color: #F6F6F6;
  font-weight: 700;
  
}

.contact-top{
  font-size: 20px;
  padding: 10px; 
  border: 2px solid black;
  color: #121212;
  text-align: center;
  margin-right: 300px;
}

.contact-top:hover{
    background-color: gainsboro;
}

ul{
  display: flex;
  width: 30%;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  
}

nav a {
        margin: 0;
        padding: 0px;
        color: black;
}

nav a:hover {
	color: #afa5b4;
}

