.form {
  background-color: black;
  color: white;
  margin: 100px auto;
  height: 838px;
  width: 704px;
  padding: 3rem 7rem;
  border-radius: 36px;
}
.h1 {
  font-style: normal;
  font-weight: 300;
  font-size: 45px;
  line-height: 55px;
}

.form p {
  height: 39px;
  width: 510px;
  letter-spacing: 0em;
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  margin: 20px 0;
}
.container {
  margin: 0 auto;
}
.control {
  margin-bottom: 0.5rem;
  margin: 0 auto;
}

.control label {
  display: block;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  height: 59px;
  width: 480px;

  border-radius: 8px;
}

.control .message {
  height: 245px;
  width: 477px;
  border-radius: 8px;
}

.actions {
  margin: 2rem 6rem;
  height: 64px;
  width: 290px;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(87.56deg, #530976 -6.97%, #74199e 100%),
    linear-gradient(0deg, #000000, #000000);
  color: white;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  font-size: 25px;
}

.actions:hover,
.actions:active {
  color: white;
}
