body {
    background: white;
  }
  .Slider {
    /* width: 20%; */
    margin: 0 auto;
    margin-top: 50px;
  }
  
  .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  
  .card {
    border: 3px solid black;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    height: 300px;
    color: black; 
    flex-wrap: wrap;
    display: flex;
    
   
  }
  .top-header{
    font-weight: 300;
    margin-left: 150px;
  }


  .fa{
    color: rgb(216, 191, 0);
  }
  

  
  .card-top h1 {
    font-size: 1.3rem;
    margin: 20px;
    margin-right: 190px;
   
  }
  
  .card:hover{
    background-color: rgb(64, 68, 67);
    cursor: pointer;
    transform: scale(1.00);
    /* transition: all ls ease ; */
  }
  
  .bottom-h3{
    /* margin: 10px 20px; */
    margin-left:350px;
    
  }