.main-footer {
    color: white;
    background-color: black;
    position: relative; 
    width: 100%;
    /* padding: 50px; */
    margin-top: 40px;
  }
  
  .list-unstyled{
    font-size: 100%;
    align-items: center;
    margin: 20px;
    align-items: center;
  }
