* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: white;
}



.purple-btn{
background-color: purple;
color: white;
}

.mix-header{
  background-color: white;
  align-items: center;
  padding: 40px 0;
}

.mix{
  font-size: x-large;
  padding: 30px;
  border: 2px solid black;
  color: #121212;
  text-align: center;
  width: 40%;
  margin: auto;
}

.mix-header p{
  padding: 30px;
}
.contact{
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: space-between;
}

.contact button{
  border: 1px solid black;
  padding: 10px;
}
.banner{
  text-align: center;
} 




.list-unstyled{
  font-size: 100%;
  align-items: center;
}



/* our popular drinks */


.dwrapper{
  margin: auto;
 

}
.horizontal-line{
  margin: 30px;
}
.ourdrinks{
  margin-top: 100px;
  /* border-style: dashed; */
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.moIMG{
  position: relative;
  margin-top: 10px;
  top: 0px;
  left: 780px;
}

.text{
  font-family: "Montserrat" sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  color: #0d0d0d;
  position: relative;
  top: -350px;
}



.text-1{
  font-family: "Montserrat" sans-serif;
  /* font-style: normal; */
  line-height: 24px;
  color: darkgray;
  font-weight: 400;
  
  position: relative;
  top: -350px;
}

.strIMG{
  position: relative;
  left: 90px;
  bottom: 200px;
}
.text2 {
  color: #0d0d0d;
  
margin-left: 650px;
position: absolute;
top: 290px;
}

.text-2 {
color: darkgray;

margin-left: 630px;
position: absolute;
top: 320px;
}

.kisspng{
  position: relative;
  top: -450px;
  left: 780px;
}

.text3 {
  color: #0d0d0d;
position: absolute;
top: 200px;
margin-left: -175px;
}

.text-3 {
color: darkgray;
  font-weight: 400;
margin-left: -200px;
position: absolute;
top: 230px;
}


.beerIMG{
  position: relative;
  left: 90px;
  top: -600px;
  /* bottom: 250px; */
}
.text4 {
  color: #0d0d0d;
margin-left: 610px;
position: absolute;
top: 240px;
}

.text-4 {
  margin-left: 600px;
  position: absolute;
color: darkgray;

  top: 270px;
  }
  
.BButton{
  background-color: #530976;
  padding: 10px;
  width: 250px;
  color: azure;
  font-style: bold;
  margin-left: 600px;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  bottom: 800px;
}

