/* .banner {
    margin-top: 0;
    background-position: top center;
    background-repeat: no-repeat;
  }
  
  .purple-btn{
  background-color: #530976;
  color: white;
  border-radius: 6px;
  }
  
  .mix-header{
    background-color: white;
    align-items: center;
    padding: 40px 0;
  }
  
  .mix{
    /* font-size: x-large; */
    /* padding: 30px;
    border: 4px solid black;
    color: #121212;
    text-align: center;
    width: 20%;
    margin: auto;
  } */
  
  /* .mix-header p{
    padding: 30px;
  } */
  /* .contact{
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-between;
  }
  
  .contact button{
    border: 1px solid black;
    padding: 10px;
  }
  .banner{
    text-align: center;
  } */
   


  /* Banner  */
.banner {
  margin-top: 100px;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100vh;
 
}
.purple-btn{
background-color: purple;
color: white;
border-radius: 4px ;
font-weight: 600;
}

.mix-header{
  background-color: white;
  align-items: center;
  padding: 40px 0;
 
}

.mix{
  font-size: 40px;
  padding: 30px;
  border: 5px solid black;
  color: #121212;
  text-align: center;
  width: 30%;
  margin: auto;
  font-weight: 800;
  
}


p{
font-size: large; 
}

.mix-header p{
  padding: 30px;
}

.contact{
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: space-between;
}

.contact button{
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;

  width: 200px;
}

.banner{
  text-align: center;
}