.ul {
  list-style: none;
  width: 100%;
}

.li {
  margin-left: 2rem;
  text-align: center;
  background: linear-gradient(87.56deg, #530976 -6.97%, #74199e 100%);
  border: 2px solid #0d0d0d;
  border-radius: 8px;
  width: 150px;
}

.a {
  text-decoration: none;
  color: white;
}

.a:hover,
.a:active,
.a.active {
  color: blue 2px solid;
}
